{
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-es2017-object-entries"
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    },
    "development": {
      "presets": [["env"]]
    }
  }
}
